*
{
    margin: auto
}
body
{
    background-image: url(images/background/main_background_image.jpg);
    background-size: cover;
}
header
{
    width: 1300px;
    height: 300px;
    /* border: 1px solid green; */
    margin-top: 30px;
    display: inline-flex;
    margin-left: 30px;
}
header div:nth-child(1)
{
    width: 400px;
    height: 200px;
    margin-left: 450px;
    margin-top: 50px;
    /* border: 1px solid purple; */
    background-image: url(images/background/main_background_image.jpg);
    box-shadow: 10px 13px 24px 5px rgba(64,53,53,0.89);
}
section
{
    width: 900px;
    height: 30px;
    /* border: 1px solid blue; */
    margin-top: 20px;
}
section nav ul
{
    float: left;
}
section nav ul a
{
    text-decoration: none;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: inline; */
}
section nav ul li a
{
    text-decoration: none;
    margin-left: 100px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: inline; */
}
section nav ul li
{
    list-style-type: none;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* display: inline; */
}
section nav ul li a:hover
{
    opacity: 0.6;
    background-color: rgb(173, 168, 168);
    color: white;
}
section:nth-child(3)
{
    width: 900px;
    height: 50px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    display: inline-flex;
    margin-left: 170px;
}
.section_3_div_1
{
    width: 600px;
    height: 50px;
    /* border: 1px solid rgb(58, 58, 61); */
}
.section_3_div_1 p
{
    font-size: 35px;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section_3_div_2
{
    width: 300px;
    height: 50px;
    /* border: 1px solid rgb(58, 58, 61); */
    display: inline-flex;
}
.section_3_div_2 p
{
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section_3_div_2 input
{
    background-image: url(images/background/main_background_image.jpg);
    border-color: white;
    border-radius: 10px;
}

footer
{
    width: 1200px;
    height: 220px;
    /* border: 1px solid green; */
    margin-top: 30px;
    margin-left: 80px;
}
footer nav ul li a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer nav ul li
{
    list-style-type: none;
    margin-left: 95px;
    display: inline;
}
.footer-1-inside p
{
    margin-top: 45px;
    margin-left: 135px;
    text-decoration: none;
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold;
    display: inline;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-1-inside a img
{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-left: 30px;
    margin-top: 35px;
}
.footer_inside object a
{
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer_inside object
{
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer_inside
{
    margin-top: 30px;
    text-align: center;
}
.footer_inside_2 img
{
    width: 55px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.footer_inside_2
{
    text-align: center;
}
.section5
{
    width: 900px;
    height: 750px;
}
.section5 p
{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}