*
{
    margin: auto
}
body
{
    background-image: url(images/background/main_background_image.jpg);
    background-size: cover;
}
header
{
    width: 1300px;
    height: 300px;
    /* border: 1px solid green; */
    margin-top: 30px;
    display: inline-flex;
    margin-left: 30px;
}
header div:nth-child(1)
{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    /* border: 1px solid purple; */
    background-image: url(images/background/main_background_image.jpg);
    box-shadow: 10px 13px 24px 5px rgba(64,53,53,0.89);
}
header div:nth-child(2)
{
    width: 800px;
    height: 50px;
    /* border: 1px solid purple; */
    display: inline-flex;
    margin-top: 50px;
}
.ul-first
{
    list-style-type: none;
}
.ul-first li
{
    display: inline;
    margin-left: 30px;  
}
.ul-first li a
{
    color: rgb(53, 51, 51);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.search_button
{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    background-image: url(images/background/main_background_image.jpg);
}
.log_in_button
{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: url(images/background/main_background_image.jpg)
}
.log_in_button_2
{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: url(images/background/main_background_image.jpg)
}
section
{
    width: 900px;
    height: 30px;
    /* border: 1px solid blue; */
    margin-top: 20px;
}
section nav ul
{
    float: left;
}
section nav ul a
{
    text-decoration: none;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: inline; */
}
section nav ul li a
{
    text-decoration: none;
    margin-left: 100px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: inline; */
}
section nav ul li
{
    list-style-type: none;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* display: inline; */
}
section nav ul li a:hover
{
    opacity: 0.6;
    background-color: rgb(173, 168, 168);
    color: white;
}
.section2
{
    width: 1200px;
    height: 450px;
    /* border: 1px solid green; */
    margin-top: 30px;
    /* display: inline-flex; */
    margin-left: 80px;
}
.section2-div-1
{
    width: 1200px;
    height: 450px;
    /* border: 1px solid blue; */
    float: left;
}
.background_image_1
{
    width: 650px;
    height: 450px;
    z-index: -1;
    position: absolute;
    border-radius: 20px;
    float: left;
}
.background_image_11
{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: 75px;
    margin-left: 590px;
}
.section3
{
    width: 1200px;
    height: 900px;
    /* border: 1px solid green; */
    margin-top: 100px;
    /* display: inline-flex; */
    margin-left: 80px;
}
.section3 p
{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section3_image_1
{
    width: 300px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
.section3_image_2
{
    width: 400px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
.section3_image_3
{
    width: 300px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
.section3_image_4
{
    width: 300px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
.section3_image_5
{
    width: 400px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
.section3_image_6
{
    width: 300px;
    height: 350px;
    margin: 25px;
    border-radius: 20px;
}
footer
{
    width: 1200px;
    height: 220px;
    /* border: 1px solid green; */
    margin-top: 30px;
    margin-left: 80px;
}
footer nav ul li a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer nav ul li
{
    list-style-type: none;
    margin-left: 95px;
    display: inline;
}
.footer-1-inside p
{
    margin-top: 45px;
    margin-left: 135px;
    text-decoration: none;
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold;
    display: inline;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-1-inside a img
{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-left: 30px;
    margin-top: 35px;
}
.footer_inside object a
{
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer_inside object
{
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer_inside
{
    margin-top: 30px;
    text-align: center;
}
.footer_inside_2 img
{
    width: 55px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.footer_inside_2
{
    text-align: center;
}

